<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Powiedzmy że działa, losowanie...
    </h1>
        <div>
        {% block body%}
        {% for member in team_members_serialized %}

            
            <p> {{member.name}}{% if member.was_picked == True%} - wylosowany/a</p>
            {% endif %}

        {% endfor %}

        <p></p>
        <a href="/team-members/random"> wylosuj </a>
        <form action="/team-member/was-picked/reset" method="post">
            <button type="submit">Reset</button>
        </form>


    
        {% endblock%}
        </div>
</body>
</html>