<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Daily Scrum Picker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    >
</head>
<body class="container mt-4">

<h1 class="mb-4">Kto prowadzi Daily?</h1>

<!-- Dodaj członka zespołu -->
<form action="/team-members" method="post" class="mb-3">
    <div class="input-group">
        <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Imię członka zespołu"
            required>
        <button class="btn btn-primary" type="submit">Dodaj do losowania</button>
    </div>
</form>

<!-- Akcje -->
<div class="mb-3">
    <a href="/team-members/random" class="btn btn-success">🎲 Losuj</a>
    <form action="/team-members/was-picked/reset" method="POST" class="d-inline">
        <button class="btn btn-warning">🔄 Reset</button>
    </form>
        <!-- <form
            action="/team-members/delete"
            method="post"
            class="d-inline"
            onsubmit="return confirm('Na pewno usunąć wszystko?');">
            <button class="btn btn-sm btn btn-danger">Usuń wszystko</button>
        </form> -->
</div>

<!-- Lista członków -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Dostępny/a do losowania?</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
    {% for member in team_members_serialized %}
        <tr class="{% if member.was_picked %}table-secondary{% endif %}">
            <td>{{ member.name }}</td>
            <td>
                {% if member.was_picked %}
                    ❌
                    {% if loop.first %} – Prowadzi daily w obecnym sprincie (ostatnie losowanie)
                    {% endif %}
                {% else %}
                    ✅
                {% endif %}
            </td>
            <td>
                <form
                    action="/team-members/{{ member.id }}/delete"
                    method="post"
                    class="d-inline"
                    onsubmit="return confirm('Na pewno usunąć {{ member.name }}?');">
                    <button class="btn btn-sm btn btn-outline-danger">🗑 Usuń</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
